.ship-avatar-container {
  align-items: center;
  position: relative;
  display: flex;
  -webkit-mask-image: -webkit-gradient(linear, 65% 100%, 100% 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: -webkit-gradient(linear, 65% 100%, 100% 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

.ship-avatar-inner-container {
  position: absolute;
  width: 100%;
  height: 98%;
  overflow: hidden;
  max-height: calc(100% - 2px);
  display: flex;
  align-items: center;
}

.equip-avatar {
  width: 90%;
  position: absolute;
}

.ship-avatar-bg {
  position: absolute;
  width: 200%;
  z-index: -1;
}

.equip-avatar-bg {
  position: absolute;
  left: -160%;
  width: 400%;
  z-index: -1;
}

.ship-avatar-bg-sr {
  height: 220%;
  left: -60%;
}

.ship-avatar-bg-nr {
  left: -30%;
  top: -28%;
}
