.ship-avatar-container {
  align-items: center;
  overflow: hidden;
  display: flex;
  -webkit-mask-image: -webkit-gradient(linear, 65% 100%, 100% 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
  mask-image: -webkit-gradient(linear, 65% 100%, 100% 100%, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}

.ship-avatar-loading {
  margin-left: auto;
  margin-right: auto;
  width: 1em;
}
