.scroll-shadow {
  transition: 0.35s;
}

.scroll-shadow.scroll-shadow-top {
  box-shadow: inset 0 18px 15px -20px #217dbb;
}

.scroll-shadow.scroll-shadow-bottom {
  box-shadow: inset 0 -18px 15px -20px #217dbb;
}

.scroll-shadow.scroll-shadow-top.scroll-shadow-bottom {
  box-shadow:
    inset 0 18px 15px -20px #217dbb,
    inset 0 -18px 15px -20px #217dbb;
}
