.teitoku-timer {
  position: absolute;
  right: 0.5em;
}

.next-time-tooltip {
  white-space: nowrap;
}

.countdown-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.countdown-item .info-tooltip-item {
  margin-right: 5px;
}
