.teitoku-panel .teitoku-timer {
  position: absolute;
  right: 0.5em;
}

.teitoku-panel .next-time-tooltip {
  white-space: nowrap;
}

.teitoku-panel .countdown-item:not(:last-child) {
  margin-bottom: 0.5em;
}

.teitoku-panel .countdown-item .info-tooltip-item {
  margin-right: 5px;
}

.teitoku-panel .bp3-card {
  display: flex;
  align-items: center;
}
