#MainView .kdock-panel .panel-body {
  /*border: 1px solid orange;*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#MainView .kdock-item {
  display: flex;
  flex: 1;
}
#MainView .kdock-item .kdock-name {
  flex: 1;
  padding-right: 10px;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
