.MainView .kdock-panel {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 80px;
  justify-content: space-between;
}

.MainView .kdock-item {
  align-items: center;
  display: flex;
  flex: 1;
  padding-bottom: 0;
  padding-top: 0;
}

.MainView .kdock-item .kdock-name {
  flex: 1;
  margin-right: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainView .kdock-item .empty-dock {
  color: #777;
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 37px;
}
