.main-view .kdock-item-wrapper {
  max-width: 100%;
  display: flex;
  align-items: center;
}

.main-view .kdock-item-tooltip {
  flex: 1;
}

.main-view .kdock-item-content {
  width: 100%;
}

.main-view .kdock-item {
  align-items: center;
  display: flex;
  flex: 1;
  padding-bottom: 0;
  padding-top: 0;
}

.main-view .kdock-item .kdock-name {
  flex: 1;
  margin-right: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-view .kdock-item .empty-dock {
  color: #777;
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 37px;
}
