.MainView .expedition-panel .panel-body {
  /* border: 1px solid orange; */
  display: flex;
  flex-flow: column nowrap;
}

.MainView .expedition-item {
  display: flex;
  flex: 1;
}

.MainView .expedition-item .expedition-name {
  flex: 1;
  margin-right: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
