.MainView {
  font-size: 12px;
  min-width: 250px;
}

.MainView .main-panel-content {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.MainView .nav {
  margin-bottom: 5px;
  margin-top: -6px;
  min-height: 40px;
}

.MainView .nav > li {
  overflow: inherit;
}

.MainView .panel {
  margin: 0;
}

.MainView .panel-container,
.MainView .panel-col {
  display: flex;
  flex-flow: column;
}

.MainView .panel-row {
  display: flex;
  flex-flow: row;
}

.MainView .half {
  width: 50%;
}

.MainView .flex {
  flex: 1;
}

.MainView .panel-body {
  height: 100%;
  width: 100%;
  padding: 8px;
}

/* universal */
.MainView .teitoku-panel,
.MainView .resource-panel,
.MainView .miniship,
.MainView .combined-panels,
.MainView .expedition-panel,
.MainView .task-panel {
  position: absolute;
}

/* panels */
.MainView .ndock-panel,
.MainView .kdock-panel,
.MainView .expedition-panel,
.MainView .task-panel,
.MainView .teitoku-panel,
.MainView .resource-panel {
  overflow: scroll;
  white-space: nowrap;
}

.MainView .react-grid-item > div {
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.MainView .panel-item {
  padding: 4px;
}

.MainView .ndock-panel .panel-item,
.MainView .kdock-panel .panel-item {
  padding: 2px 4px;
  max-width: 100%;
}

.MainView .label {
  font-size: 90%;
  font-weight: normal;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.MainView table tr td {
  font-size: 12px;
  padding-bottom: 5px;
  padding-top: 4px;
}

.MainView .panel-body table td {
  border: none;
  line-height: 1.42857143;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainView .panel-heading {
  padding: 8px;
}

.MainView .glow {
  filter: drop-shadow(0 0 4px #2196f3);
}

.MainView .countdown-timer-label {
  flex: none;
}

.dock-panel-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.dock-panel-tabs .tab-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.dock-panel-tabs .tab-content .active {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.MainView .react-grid-item {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.MainView .teitoku-panel .panel-body {
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}
