#MiniShip {
  font-size: 14px;
}
#MiniShip .btn-group {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
#MiniShip .btn-group .btn {
  flex: 1;
}
#MiniShip .hidden {
  display: none;
}
#MiniShip .show {
  display: block;
}
#MiniShip .deck-status {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
#MiniShip .progress {
  margin-bottom: 5px;
}
#MiniShip .ship-details-mini {
  margin-bottom: 1px;
}
#MiniShip .ship-details-mini .ship-tile {
  margin: 5px 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#MiniShip .ship-details-mini .ship-item {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
  /*margin-right: 15px;*/
}
#MiniShip .ship-details-mini .ship-item .ship-info {
  flex: 1;
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#MiniShip .ship-details-mini .ship-item .ship-info .ship-type {
  margin-left: 5px;
}
#MiniShip .ship-details-mini .ship-item .ship-info .ship-name {
  flex: 1.5;
  padding-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#MiniShip .ship-details-mini .ship-item .ship-info .ship-lv-text {
  flex: 2;
  font-size: 70%;
  margin-right: 4px;
  line-height: 1;
  overflow: hidden;
}
#MiniShip .ship-details-mini .ship-item .ship-stat {
  flex: 2;
  font-size: 14px;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: 125px;
  justify-content: space-between;
}
#MiniShip .ship-details-mini .ship-item .ship-stat .ship-hp {
  flex: 1;
  align-self: flex-start;
}
.ship-pop .status-label,
#MiniShip .ship-details-mini .ship-item .ship-stat .status-label {
  display: inline-block;
  z-index: 100;
  position: relative;
  margin-left: 5px;
  margin-top: -1px;
  text-align: center;
  vertical-align: middle;
  width: 20px;
}
#MiniShip .ship-details-mini .ship-item .ship-stat .status-label .label {
  width: 20px;
  padding: 3px 3px;
  display: inline-block;
}
#MiniShip .ship-details-mini .ship-item .ship-stat .ship-cond {
  width: 40px;
  align-self: flex-end;
  margin-left: auto;
  display: table;
  text-align: right;
}
#MiniShip .ship-details-mini .ship-item .ship-stat .ship-cond .cond-indicator {
  display: inline-block;
  height: 30px;
  width: 4px;
  vertical-align: middle;
  margin-left: 4px;
}
#MiniShip .ship-details-mini .ship-item .ship-stat .hp-progress {
  flex: 1;
}
#MiniShip .ship-details-mini .ship-item .ship-stat .hp-progress .progress {
  height: 7px;
  flex: auto;
}
#MiniShip .ship-details-mini .ship-item .ship-slot {
  width: 105px;
  flex: none;
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 3px;
}
#MiniShip .alert {
  background-color: transparent;
  border-color: transparent;
  margin-top: 9px;
  text-align: center;
}
#MiniShip .fleet-name {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
#MiniShip .flex {
  flex: 1;
}
#MiniShip .top-space {
  margin-top: 5px;
}
.ship-pop .slotitem-container-mini {
  display :flex;
  flex-flow: row;
  margin-top: 4px;
}
.ship-pop .slotitem-container-mini .slotitem-name-mini {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
}
.ship-pop .slotitem-container-mini .slotitem-onslot-mini {
  font-size: 90%;
  padding: 3px 6px 3px 5px;
  margin-left: 2px;
}
.ship-pop .slotitem-container-mini span.show {
  display: inline !important;
}
.ship-pop .slotitem-container-mini img {
  width: 32px;
  height: 32px;
  margin-top: -8px;
  margin-bottom: -8px;
}
#MiniShip .div-col,
.ship-pop .div-col {
  display: flex;
  flex-flow: column;
}
#MiniShip .div-row,
.ship-pop .div-row {
  display: flex;
  flex-flow: row;
}
.ship-pop .flex {
  flex: 1;
}
.ship-pop .item-name {
  margin-bottom: 5px;
  width: 220px
}
.ship-pop .progress {
  margin-top: 5px;
  height: 9px;
}
.ship-pop .material-icon {
  margin-right: auto;
}
#MiniShip .ship-panel-full {
  position: absolute;
  z-index: 100;
  top: 38px;
  height: calc(100% - 42px);
  width: calc(100% - 4px);
  padding: 1px;
  transition: 0.2s;
}
#MiniShip .ship-panel-half {
  position: absolute;
  z-index: 100;
  top: 38px;
  height: calc(100% - 42px);
  width: calc(50% - 4px)
  padding: 1px;
  transition: 0.2s;
}
#MiniShip .ship-panel-full-hidden {
  position: absolute;
  z-index: 100;
  visibility: hidden;
  padding: 1px;
  width: calc(50% - 4px);
  overflow: hidden;
  transition: 0.2s;
  opacity: 0;
}
#MiniShip .ship-panel-half-hidden {
  position: absolute;
  z-index: 100;
  top: 175px;
  visibility: hidden;
  padding: 1px;
  width: calc(25% - 4px);
  overflow: hidden;
  transition: 0.2s;
  opacity: 0;
}
#MiniShip .ship-panel-full .panel-body,
#MiniShip .ship-panel-half .panel-body {
  padding: 1px;
  height: 100%;
}
.toleft {
  left: 0px;
}
.toright {
  right: 0px;
}
.top-vertical {
  top: 38px;
  height: calc(100% - 42px);
}
.top-horizonal {
  top: 174px;
  height: calc(100% - 180px);
}
#MiniShip .ship-deck {
  height: calc(100% - 35px);
  overflow: auto;
}
