.MainView .ndock-panel.flex {
  /*border: 1px solid skyblue;*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  flex-grow: 1;
}

.MainView .panel-item.ndock-item {
  display: flex;
  flex: 1;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  /*margin: 3px;*/
}

.MainView .ndock-item .ndock-name {
  flex: 1;
  margin-right: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
