#MainView .ndock-panel .panel-body {
  /*border: 1px solid skyblue;*/
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
#MainView .ndock-item {
  display: flex;
  flex: 1;
  /*margin: 3px;*/
}
#MainView .ndock-item .ndock-name {
  flex: 1;
  padding-right: 10px;
  margin-right: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
