.main-view .ndock-item {
  align-items: center;
  display: flex;
  padding-bottom: 0;
  padding-top: 0;
}

.main-view .ndock-item .ndock-name {
  flex: 1;
  margin-right: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-view .ndock-item .empty-dock {
  color: #777;
  font-size: 16px;
  height: 20px;
  text-align: center;
  width: 37px;
}
