.MainView .resource-panel .panel-body {
  align-items: center;
  display: flex;
  padding-bottom: 1px;
  padding-top: 1px;
}
.MainView .resource-panel .panel-body>.container{
  flex: 1;
  margin: 0;
}
.MainView .resource-panel .material-container {
  display: flex;
  margin-bottom: 2px;
  margin-top: 2px;
  padding-right: 0;
}
.MainView .resource-panel .material-value {
  position: relative;
  width: calc(100% - 23px);
}
.MainView .resource-panel .material-value .material-amount,
.MainView .resource-panel .material-value .additional-value {
  height: 100%;
  left: 5px;
  min-width: 4em;
  /* csslint ignore:start */
  padding-left: 5px;
  /* csslint ignore:end */
  position: absolute;
  top: 0;
  width: 100%;
}
.MainView .resource-panel .additional-value {
  color: white;
  opacity: 0;
  text-align: right;
  transition: all 0.3s;
  z-index: 1;
}
.MainView .resource-panel .inc {
  background-color: #217dbb;
  opacity: 1;
}
.MainView .resource-panel .dec {
  background-color: #d62c1a;
  opacity: 1;
}
.MainView .resource-panel img {
  height: 18px;
  width: 18px;
}
