.MainView .task-panel {
  /* border: 1px solid orange; */
  display: flex;
  flex-flow: column nowrap;
}

.MainView .task-panel table tr td {
  align-items: center;
  display: flex;
  text-align: left;
  width: 100%;
}

.MainView .task-panel .label {
  min-width: 50px;
}

.MainView .task-item {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.MainView .task-item .quest-name {
  flex: 1;
  margin-right: auto;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.MainView .task-item .quest-progress {
  flex: none;
  min-width: 50px;
}

.MainView .task-item .cat-indicator {
  display: inline-block;
  flex: none;
  height: 1em;
  margin-right: 4px;
  vertical-align: middle;
  width: 4px;
}
