[submodule "plugins/exp-calc"]
	path = plugins/exp-calc
	url = https://github.com/yudachi/plugin-exp-calculator.git
[submodule "plugins/report"]
	path = plugins/report
	url = https://github.com/yudachi/plugin-report.git
[submodule "plugins/prophet"]
	path = plugins/prophet
	url = https://github.com/yudachi/plugin-prophet.git
[submodule "plugins/item-improvement"]
	path = plugins/item-improvement
	url = https://github.com/yudachi/plugin-item-improvement
[submodule "plugins/expedition"]
	path = plugins/expedition
	url = https://github.com/yudachi/plugin-expedition
[submodule "plugins/item-info"]
	path = plugins/item-info
	url = https://github.com/yudachi/plugin-item-info
[submodule "plugins/ship-info"]
	path = plugins/ship-info
	url = https://github.com/yudachi/plugin-ship-info
[submodule "plugins/new-window"]
	path = plugins/new-window
	url = https://github.com/yudachi/plugin-new-window
[submodule "plugins/almanac"]
	path = plugins/almanac
	url = https://github.com/yudachi/plugin-almanac
[submodule "plugins/quest-info"]
	path = plugins/quest-info
	url = https://github.com/yudachi/plugin-quest
