[submodule "plugins/exp-calc"]
	path = plugins/exp-calc
	url = https://github.com/yudachi/plugin-exp-calculator.git
[submodule "plugins/report"]
	path = plugins/report
	url = https://github.com/yudachi/plugin-report.git
[submodule "plugins/prophet"]
	path = plugins/prophet
	url = https://github.com/yudachi/plugin-prophet.git
[submodule "plugins/item-improvement"]
	path = plugins/item-improvement
	url = https://github.com/yudachi/plugin-item-improvement
[submodule "plugins/expedition"]
	path = plugins/expedition
	url = https://github.com/yudachi/plugin-expedition
