sudo: required
dist: trusty

language: node_js

node_js:
- '10'

matrix:
  include:
  - os: osx
  - os: linux

addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - libgnome-keyring-dev
    - rpm
    - bsdtar
  ssh_known_hosts: poi@citrus.dazzyd.org

cache:
  directories:
  - "$HOME/.electron"

install:
- npm install -g npm

before_script:
- export TRAVIS=1
- npm ci
- npm run lint

script:
- npm run build
- npm test

branches:
  except:
  - "/^v\\d+\\.\\d+\\.\\d+.*/"

before_deploy:
- openssl aes-256-cbc -K $encrypted_ff76734e9597_key -iv $encrypted_ff76734e9597_iv
  -in ./build/deploy_rsa.enc -out /tmp/deploy_rsa -d
- eval "$(ssh-agent -s)"
- chmod 600 /tmp/deploy_rsa
- ssh-add /tmp/deploy_rsa

deploy:
  provider: script
  skip_cleanup: true
  script: npm run deploy:nightlies
  on:
    repo: poooi/poi
    all_branches: true
