osx_image: xcode7.3

sudo: required
dist: trusty

language: c

matrix:
  include:
    - os: osx
    - os: linux
      env: CC=clang CXX=clang++ npm_config_clang=1
      compiler: clang

cache:
  directories:
  - node_modules
  - $HOME/.electron

install:
  - npm install

before_script:
  - export TRAVIS=1
  - npm install

script:
  - npm run build

before_deploy:
  - if [[ "$TRAVIS_OS_NAME" == "linux"]]
    then
      export RELEASE_PKG_FILE=$(ls dist/linux/*.7z);
    else
      export RELEASE_PKG_FILE=$(ls dist/osx/*.dmg);
    fi
  - echo "deploying $RELEASE_PKG_FILE to GitHub releases"

deploy:
  provider: releases
  api_key: "$GH_TOKEN"
  file: "$RELEASE_PKG_FILE"
  skip_cleanup: true
  on:
    tags: true
