environment:
  nodejs_version: "4.4.5"

platform:
  - x64

install:
  - ps: Install-Product node $env:nodejs_version
  - npm install

test_script:
  - node --version
  - npm --version
  - npm test

build_script:
  - npm run build_win

deploy:
  description: 'editing'
  provider: GitHub
  auth_token:
    secure: 0CGtR9o1TIDwfW1NfqASIdFfPcfJirWQIS+B0ekSs7nRjHEYHhcLZCWC3Uf1VQKO
  artifact: /dist\\win\\.*\.exe/,/dist\\win\\.*\.7z/,/dist\\win-ia32\\.*\.exe/,/dist\\win-ia32\\.*\.7z/
  draft: true
  prerelease: false
  on:
    branch: master
    appveyor_repo_tag: true
