# Contributors
contributors: [
    name: 'Season千'
    avatar: 'http://7xkd7e.com1.z0.glb.clouddn.com/season.jpg'
    link: 'http://www.pixiv.net/member.php?id=3991162'
  ,
    name: 'Magica'
    avatar: 'https://avatars0.githubusercontent.com/u/6753092?v=3&s=460'
    link: 'http://weibo.com/maginya'
  ,
    name: 'Yunze'
    avatar: 'https://avatars3.githubusercontent.com/u/3362438?v=3&s=460'
    link: 'http://weibo.com/myzwillmake'
  ,
    name: 'Chiba'
    avatar: 'https://avatars1.githubusercontent.com/u/6986642?v=3&s=460'
    link: 'http://weibo.com/chibaheit'
  ,
    name: 'KochiyaOcean'
    avatar: 'https://avatars3.githubusercontent.com/u/8194131?v=3&s=460'
    link: 'http://www.kochiyaocean.org'
  ,
    name: '马里酱'
    avatar: 'https://avatars3.githubusercontent.com/u/10855724?v=3&s=460'
    link: 'http://www.weibo.com/1791427467'
  ,
    name: '吴钩霜雪明'
    avatar: 'https://avatars2.githubusercontent.com/u/6861365?v=3&s=460'
    link: 'http://www.weibo.com/jenningswu'
  ,
    name: 'Rui'
    avatar: 'https://avatars3.githubusercontent.com/u/11897118?v=3&s=460'
    link: 'https://github.com/ruiii'
  ,
    name: 'Artoria'
    avatar: 'https://avatars1.githubusercontent.com/u/1183568?v=3&s=460'
    link: 'http://www.weibo.com/pheliox'
]
