poi:
  theme: "paperdark"
  layout: "horizontal"
  window:
    x: 60
    y: 60
    width: 1274
    height: 616
  webview:
    width: 800
  shortcut:
    bosskey: "CmdOrCtrl+i"
  useSVGIcon: false
proxy:
  use: "none"
  socks5:
    host: "127.0.0.1"
    port: 1080
  http:
    host: "127.0.0.1"
    port: 8099
