.metric-table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: monospace;
  margin-top: 1em;
  margin-bottom: 2em;
}

.metric-row {
  display: flex;
  flex-grow: 1;
}

.metric-haeder {
  font-weight: 600;
  border-bottom: 1px solid #777;
  margin-bottom: 1ex;
}

.metric-row > span {
  width: calc(100% / 8);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.metric-total {
  border-top: 1px solid #777;
  margin-top: 1ex;
}
