.SettingsView .poi-others .desc-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.SettingsView .poi-others .desc-buttons > button {
  margin-bottom: 0.25ex;
  margin-right: 1em;
  margin-top: 0.25ex;
}

.SettingsView .poi-others .contributors {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SettingsView .poi-others .contributor-item {
  margin: 5px;
}

.SettingsView .poi-others .avatar-img {
  border-radius: 20px;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.SettingsView .poi-others .opencollective img {
  cursor: pointer;
}

.SettingsView .poi-others .thanks-to {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.SettingsView .poi-others .thanks-to-item {
  padding-left: 15px;
  padding-right: 15px;
  width: 50%;
}

.SettingsView .poi-others .sp-thanks-to .thanks-to-item {
  width: initial;
}

.SettingsView .poi-others .thanks-to-img-container {
  border-radius: 4px;
  height: 75px;
  overflow: hidden;
  width: 75px;
}

.SettingsView .poi-others .thanks-to-img {
  cursor: pointer;
}

.SettingsView .poi-others .thanks-to-container {
  flex: 1;
  padding-left: 5px;
}

.SettingsView .poi-others .avatar-img:hover {
  transform: rotate(360deg);
  transition-duration: 3s;
}

.SettingsView .poi-others .metric-table {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: monospace;
  margin-bottom: 2em;
  margin-top: 1em;
}

.SettingsView .poi-others .metric-row {
  display: flex;
  flex-grow: 1;
}

.SettingsView .poi-others .metric-haeder {
  border-bottom: 1px solid #777;
  font-weight: 600;
  margin-bottom: 1ex;
}

.SettingsView .poi-others .metric-row > span {
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% / 8);
}

.SettingsView .poi-others .metric-total {
  border-top: 1px solid #777;
  margin-top: 1ex;
}
