.SettingsView .navigator {
  display: flex;
}

.SettingsView .navigator-url {
  display: flex;
  flex: 1;
  margin-left: 15px;
  margin-right: 15px;
}

.SettingsView .navigator-url .form-group {
  flex: 1;
}

.SettingsView .navigator-btn {
  width: 110px;
}

.SettingsView .navigator-btn button {
  width: 30px;
}

.SettingsView .navigator-status {
  padding-right: 28px;
}

.SettingsView .navigator-bar .container {
  align-items: center;
  display: flex;
}

.SettingsView .navigator-bar {
  margin-bottom: 0;
}

.SettingsView .navigator-bar .form-group {
  margin-bottom: 0;
}

.SettingsView .navigator-bar .container .btn-group {
  float: right;
}
