.settings-view .divider {
  padding-left: 15px;
  padding-right: 15px;
}

.settings-view .divider hr {
  margin-bottom: 15.5px;
}

.settings-view .settings-view-tabs .bp3-tab-list {
  justify-content: space-between;
  height: 100%;
}

.settings-view .settings-view-tabs .bp3-tab.poi-settings-tab {
  flex: 1 0 75px;
  text-align: center;
}

/* .settings-view #settings-view-tabs > .nav {
  flex: 0 0 38px;
} */

/* .settings-view #settings-view-tabs > .tab-content {
  flex: 1 0 0;
  overflow: scroll;
} */

.settings-view input[type="range"],
.settings-view input[type="range"]:focus,
.settings-view input[type="range"]:active,
.settings-view input[type="range"]:hover {
  border: none;
  box-shadow: none;
  padding: 0;
}

.settings-view .nav-pills > li > a {
  padding-left: 0;
  padding-right: 0;
}

.settings-view .notif-button {
  flex: 1;
  overflow: hidden;
}

.settings-view .notif-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 6px;
}

.settings-view .notif-input-desc {
  padding: 6px 0;
}

.settings-view .folder-picker {
  border-color: #666;
  border-radius: 0;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer;
  direction: rtl;
  height: 100%;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.settings-view .div-col {
  display: flex;
  flex-flow: column;
}

.settings-view .div-row {
  display: flex;
  flex-flow: row;
}

.settings-view .well {
  margin: 0;
  padding: 14px;
}

.settings-view .update-progress {
  padding-right: 20px;
}

.settings-view .update-progress .progress {
  height: 10px;
  margin-bottom: 4px;
}

.settings-view .data-version {
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
}

.settings-view .poi-others {
  padding-bottom: 20px;
}

.settings-view .layout-button {
  display: block;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
}

.settings-view .layout-side {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%232d2d30}.icon-canvas-transparent{opacity:0}.icon-vs-fg{fill:%232b282e}.icon-vs-bg{fill:%23c5c5c5}%3C/style%3E%3C/defs%3E%3Ctitle%3EDockRight_16x%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z'/%3E%3Cpath class='icon-vs-bg' d='M1 2v12h14V2zm9 11H2V3h8z'/%3E%3C/svg%3E") 100% no-repeat;
}

.settings-view .layout-land {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%232d2d30}.icon-canvas-transparent{opacity:0}.icon-vs-fg{fill:%232b282e}.icon-vs-bg{fill:%23c5c5c5}%3C/style%3E%3C/defs%3E%3Ctitle%3EDockBottom_16x%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z'/%3E%3Cpath class='icon-vs-bg' d='M1 2v12h14V2zm13 7H2V3h12z'/%3E%3C/svg%3E") 100% no-repeat;
}

.settings-view .layout-separate {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%232d2d30}.icon-canvas-transparent{opacity:0}.icon-vs-fg{fill:%232b282e}.icon-vs-bg{fill:%23c5c5c5}%3C/style%3E%3C/defs%3E%3Ctitle%3EDockBottom_16x%3C/title%3E%3Cg%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z'/%3E%3Cpath class='icon-vs-bg' d='M3,2v10h12V2H3z M14,11H4V5h10V10z'/%3E%3Cpolygon class='icon-vs-bg' points='2,13 2,9 2,5 1,5 1,14 14,14 14,13 11,13 '/%3E%3C/g%3E%3C/svg%3E") 100% no-repeat;
}

.settings-view .doubletabbed-disable {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 -1 16 16'%3E%3Cpath fill='%23C5C5C5' d='M1 1v12h14V1H1zm1 3h12v8H2V4zm12'/%3E%3C/svg%3E") 100% no-repeat;
}

.settings-view .doubletabbed-horizontal {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 -1 16 16'%3E%3Cpath fill='%23C5C5C5' d='M1 1v12h14V1H1zm1 3h4.999v8H2V4zm12 8H8.999V4H14v8z'/%3E%3C/svg%3E") 100% no-repeat;
}

.settings-view .doubletabbed-vertical {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cstyle%3E.icon-canvas-transparent{opacity:0;fill:%232d2d30}.icon-vs-out{fill:%232d2d30}.icon-vs-bg{fill:%23c5c5c5}.icon-vs-fg{fill:%232b282e}%3C/style%3E%3Cpath class='icon-canvas-transparent' d='M16 16H0V0h16v16z' id='canvas'/%3E%3Cpath class='icon-vs-bg' d='M1 2v12h14V2H1zm13 11H2v-3h12v3zm0-5H2V5h12v3z' id='iconBg'/%3E%3C/svg%3E") 100% no-repeat;
}

.settings-view .overlay-panel {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' id='root' version='1.1' viewBox='0 0 16 16'%3E%3Crect fill='none' stroke='%23c5c5c5' x='0.5' y='1.5' width='15' height='13'/%3E%3Cpath fill='none' stroke='%23c5c5c5' d='M 9.5 2 L 9.5 14 L 9.5 2 Z'/%3E%3C/svg%3E");
}

.settings-view .plugin-setting-wrapper {
  margin-bottom: 30px;
}

.gpu-stat-view {
  width: 100%;
  height: 60vh;
  background-color: #fff;
}
