.SettingsView .divider {
  padding-left: 15px;
  padding-right: 15px;
}

.SettingsView .divider hr {
  margin-bottom: 15.5px;
}

.SettingsView #settings-view-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.SettingsView #settings-view-tabs > .nav {
  flex: 0 0 38px;
}

.SettingsView #settings-view-tabs > .tab-content {
  flex: 1 0 0;
  overflow: scroll;
}

.SettingsView input[type="range"],
.SettingsView input[type="range"]:focus,
.SettingsView input[type="range"]:active,
.SettingsView input[type="range"]:hover {
  border: none;
  box-shadow: none;
  padding: 0;
}

.SettingsView .nav-pills > li > a {
  padding-left: 0;
  padding-right: 0;
}

.SettingsView .notif-button {
  flex: 1;
  overflow: hidden;
}

.SettingsView .notif-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 6px;
}

.SettingsView .notif-input-desc {
  padding: 6px 0;
}

.SettingsView .folder-picker {
  border-color: #666;
  border-radius: 0;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer;
  direction: rtl;
  height: 100%;
  overflow: hidden;
  padding: 5px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.SettingsView .div-col {
  display: flex;
  flex-flow: column;
}

.SettingsView .div-row {
  display: flex;
  flex-flow: row;
}

.SettingsView .well {
  margin: 0;
  padding: 14px;
}

.SettingsView .update-progress {
  padding-right: 20px;
}

.SettingsView .update-progress .progress {
  height: 10px;
  margin-bottom: 4px;
}

.SettingsView .data-version {
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
}

.SettingsView .poi-others {
  padding-bottom: 20px;
}

.SettingsView .layout-button {
  display: block;
  height: 16px;
  line-height: 16px;
  min-width: 16px;
}

.SettingsView .layout-side {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%232d2d30}.icon-canvas-transparent{opacity:0}.icon-vs-fg{fill:%232b282e}.icon-vs-bg{fill:%23c5c5c5}%3C/style%3E%3C/defs%3E%3Ctitle%3EDockRight_16x%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z'/%3E%3Cpath class='icon-vs-bg' d='M1 2v12h14V2zm9 11H2V3h8z'/%3E%3C/svg%3E") 100% no-repeat;
}

.SettingsView .layout-land {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%232d2d30}.icon-canvas-transparent{opacity:0}.icon-vs-fg{fill:%232b282e}.icon-vs-bg{fill:%23c5c5c5}%3C/style%3E%3C/defs%3E%3Ctitle%3EDockBottom_16x%3C/title%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z'/%3E%3Cpath class='icon-vs-bg' d='M1 2v12h14V2zm13 7H2V3h12z'/%3E%3C/svg%3E") 100% no-repeat;
}

.SettingsView .layout-separate {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.icon-canvas-transparent,.icon-vs-out{fill:%232d2d30}.icon-canvas-transparent{opacity:0}.icon-vs-fg{fill:%232b282e}.icon-vs-bg{fill:%23c5c5c5}%3C/style%3E%3C/defs%3E%3Ctitle%3EDockBottom_16x%3C/title%3E%3Cg%3E%3Cpath class='icon-canvas-transparent' d='M16 0v16H0V0z'/%3E%3Cpath class='icon-vs-bg' d='M3,2v10h12V2H3z M14,11H4V5h10V10z'/%3E%3Cpolygon class='icon-vs-bg' points='2,13 2,9 2,5 1,5 1,14 14,14 14,13 11,13 '/%3E%3C/g%3E%3C/svg%3E") 100% no-repeat;
}

.SettingsView .plugin-setting-wrapper {
  margin-bottom: 30px;
}
