.SettingsView .divider {
  padding-left: 15px;
  padding-right: 15px;
}
.SettingsView .divider hr {
  margin-bottom: 15.5px;
}
.SettingsView input[type=range],
.SettingsView input[type=range]:focus,
.SettingsView input[type=range]:active,
.SettingsView input[type=range]:hover {
  border: none;
  box-shadow: none;
  padding: 0;
}
.SettingsView .nav-pills > li > a {
  padding-left: 0;
  padding-right: 0;
}
.SettingsView .notif-button {
  flex: 1;
  overflow: hidden;
}
.SettingsView .notif-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 6px;
}
.SettingsView .notif-input-desc {
  padding: 6px 0;
}
.SettingsView .folder-picker {
  border-color: #666;
  border-radius: 0;
  border-style: dashed;
  border-width: 2px;
  cursor: pointer;
  direction: rtl;
  height: 100%;
  overflow: hidden;
  /* csslint ignore:start */
  padding: 5px;
  /* csslint ignore:end */
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.SettingsView .div-col {
  display: flex;
  flex-flow: column;
}
.SettingsView .div-row {
  display: flex;
  flex-flow: row;
}
.SettingsView .well {
  margin: 0;
  padding: 14px;
}
.SettingsView .update-progress {
  padding-right: 20px;
}
.SettingsView .update-progress .progress {
  height: 10px;
  margin-bottom: 4px;
}

.SettingsView .data-version {
  white-space: nowrap;
  display: inline-block;
  margin-right: 1em;
}

.SettingsView .poi-others {
  padding-bottom: 20px;
}
