#SettingsView .divider {
  padding-left: 15px;
  padding-right: 15px;
}
#SettingsView .divider hr {
  margin-bottom: 15.5px;
}
#SettingsView #navigator-bar .container {
  display: flex;
  align-items: center;
}
#SettingsView #navigator-bar {
  margin-bottom: 0px;
}
#SettingsView #navigator-bar .form-group {
  margin-bottom: 0px;
}
#SettingsView #navigator-bar .container .btn-group {
  float: right;
}
#SettingsView #poi-config .form-group {
  margin-bottom: 0px;
}
#SettingsView #poi-config #poi-resolutionr-config {
  display: flex;
  align-items: center;
}
#SettingsView #poi-others a {
  cursor: pointer !important;
}
