.settings-view .divider {
  padding-left: 15px;
  padding-right: 15px;
}

.settings-view .divider hr {
  margin-bottom: 15.5px;
}

.settings-view .settings-view-tabs .bp3-tab-list {
  justify-content: space-between;
  height: 100%;
  position: sticky;
  background: rgba(48, 64, 77, 0.8);
  top: 0;
  z-index: 10;
}

.settings-view .settings-view-tabs .bp3-tab.poi-settings-tab {
  flex: 1 0 30px;
  text-align: center;
}

.settings-view .settings-view-tabs .bp3-tab.poi-settings-tab[aria-selected="true"] {
  flex: 4 0 120px;
}

/* .settings-view #settings-view-tabs > .nav {
  flex: 0 0 38px;
} */

/* .settings-view #settings-view-tabs > .tab-content {
  flex: 1 0 0;
  overflow: scroll;
} */

.settings-view input[type="range"],
.settings-view input[type="range"]:focus,
.settings-view input[type="range"]:active,
.settings-view input[type="range"]:hover {
  border: none;
  box-shadow: none;
  padding: 0;
}

.settings-view .nav-pills > li > a {
  padding-left: 0;
  padding-right: 0;
}

.settings-view .notif-button {
  flex: 1;
  overflow: hidden;
}

.settings-view .notif-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 6px;
}

.settings-view .notif-input-desc {
  padding: 6px 0;
}

.settings-view .div-col {
  display: flex;
  flex-flow: column;
}

.settings-view .div-row {
  display: flex;
  flex-flow: row;
}

.settings-view .well {
  margin: 0;
  padding: 14px;
}

.settings-view .update-progress {
  padding-right: 20px;
}

.settings-view .update-progress .progress {
  height: 10px;
  margin-bottom: 4px;
}

.settings-view .data-version {
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
}

.settings-view .poi-others {
  padding-bottom: 20px;
}

.settings-view .plugin-setting-wrapper {
  margin-bottom: 30px;
}

.gpu-stat-view {
  width: 100%;
  height: 60vh;
  background-color: #fff;
}
