.ShipView .ship-item {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  overflow: hidden;
  padding-left: 3px;
  padding-top: 7px;
  position: relative;
  white-space: nowrap;
}

.ShipView .ship-avatar-container {
  position: absolute;
  top: 9px;
  z-index: 10;
  pointer-events: none;
}

.ShipView .ship-item .progress {
  height: 7px;
  margin-bottom: 5px;
}

.ShipView .ship-info {
  display: flex;
  flex-basis: 0;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-right: auto;
  min-width: 0;
  padding: 0 4px;
}

.ShipView .ship-info-show {
  flex-grow: 1.2;
  flex-shrink: 0;
}

.ShipView .ship-info-hidden {
  flex-grow: 0;
  flex-shrink: 0;
  height: 58px;
}

.ShipView .ship-avatar-padding {
  flex-basis: 100px;
  padding-left: 95px;
}

.ShipView .ship-basic {
  flex: 1;
  font-size: 80%;
  opacity: 0.8;
  padding-top: 0;
  vertical-align: bottom;
}

.ShipView .ship-info-hidden .ship-basic {
  padding-left: 5px;
}

.ShipView .ship-exp {
  flex: 1;
  font-size: 75%;
  opacity: 0.8;
  overflow: hidden;
  padding-top: 0;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.ShipView .ship-type,
.ShipView .ship-speed,
.ShipView .ship-aaci,
.ShipView .ship-oasw {
  margin-left: 5px;
  margin-right: 5px;
}

.ShipView .ship-name {
  flex: 1;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ShipView .ship-stat {
  display: flex;
  flex-basis: 0;
  flex-flow: column nowrap;
  flex-grow: 2;
  font-size: 90%;
  justify-content: space-between;
  margin-left: auto;
  min-width: 120px;
}

.ShipView .landbase-stat {
  flex-basis: 90px;
  flex-grow: 0.8;
  min-width: 90px;
  padding-right: 5px;
}

.ShipView .ship-hp {
  align-self: flex-start;
  flex: 1;
}

.ShipView .status-label {
  display: inline-block;
  margin-left: 5px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  z-index: 100;
}

.ShipView .status-label .label {
  display: inline-block;
  padding: 3px 3px;
  width: 18px;
}

.ShipView .ship-cond {
  align-self: flex-end;
  display: table;
  margin-left: auto;
  text-align: right;
  width: 40px;
}

.ShipView .cond-indicator {
  display: inline-block;
  height: 30px;
  margin-left: 4px;
  vertical-align: middle;
  width: 4px;
}

.ShipView .ship-fb {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  margin: 5px 2px 0 5px;
}

.ShipView .hp-progress {
  background-color: inherit;
  vertical-align: bottom;
}

.ShipView .hp-progress .progress .progress-bar {
  font-size: 11px;
  line-height: 0.9;

  /* color: #666; */
}

.ShipView .hp-progress .progress {
  height: 7px;
  position: relative;
}

.ShipView .hp-progress .progress-bar span span {
  display: block;
  position: absolute;
  width: 100%;
}

.ShipView .material-progress .col-xs-6 {
  padding-left: 0;
  padding-right: 0;
}

.ShipView .ship-slot {
  flex-basis: 172px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  padding: 5px 5px 5px 5px;
}

.ShipView .ship-aaci,
.ShipView .ship-oasw {
  position: relative;
  top: -1px;
}

.ShipView .ship-aaci .label,
.ShipView .ship-oasw .label {
  font-size: 80%;
  padding: 0.125em 0.6em;
}

.aaci-type-name:first-child::before {
  content: ' - ';
}

.aaci-type-name::after {
  content: ' / ';
}

.aaci-type-name:last-child::after {
  content: '';
}
