#ShipView {
  font-size: 15px;
}
#ShipView .ship-tab-content {
  display: -webkit-box;
  flex-flow: row;
  position: relative;
}

#ShipView .ship-tab-content-transition {
  transition: all .3s cubic-bezier(1,0,0,1);
}

#ShipView .ship-tabpane,
#ShipView .ship-deck {
  width: 100%;
}
#ShipView .panel {
  margin: 2px;
  height: calc(100% - 20px);
  overflow: auto;
}
#ShipView .panel-body {
  padding: 2px;
}
#ShipView .btn-group {
  display: flex;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
}
#ShipView .fleet-name-button {
}
#ShipView .btn-group .btn {
  flex: 1;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  overflow: hidden;
}
#ShipView .hidden {
  display: none;
}
#ShipView .show {
  display: block;
}
#ShipView .top-space {
  margin-top: 5px;
}
#ShipView .div-col {
  display: flex;
  flex-flow: column;
}
#ShipView .div-row {
  display: flex;
  flex-flow: row;
}
#ShipView .deck-status {
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
}
#ShipView .ship-details {
  margin-bottom: 1px;
}
#ShipView .ship-details .ship-item {
  padding-top: 7px;
  padding-left: 3px;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
}
#ShipView .ship-details .ship-basic-item {
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  overflow: hidden;
  white-space: nowrap;
}
#ShipView .ship-details .ship-item .ship-tile {
  /*margin: 5px 5px 0 0;*/
  flex: 4.2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#ShipView .ship-details .ship-item .progress {
  margin-bottom: 5px;
  height: 7px;
}
#ShipView .ship-details .ship-item .ship-info {
  flex: 1;
  margin-left: 4px;
  margin-right: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}
#ShipView .ship-details .ship-item .ship-info .ship-basic {
  flex: 1;
  font-size: 80%;
  vertical-align: bottom;
  padding-top: 0px;
  opacity: 0.8;
}
#ShipView .ship-details .ship-item .ship-info .ship-exp {
  flex: 1;
  font-size: 75%;
  vertical-align: bottom;
  padding-top: 0px;
  opacity: 0.8;
}
#ShipView .ship-details .ship-item .ship-info .ship-type {
  margin-left: 5px;
  margin-right: 5px;
}
#ShipView .ship-details .ship-item .ship-info .ship-name {
  flex: 1;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
}
#ShipView .ship-details .ship-item .ship-info .exp-progess {
  flex: 1;
}

#ShipView .ship-details .expProgress .progress {
  height: 7px;
}
#ShipView .ship-details .ship-item .ship-stat {
  flex: 1.2;
  display: flex;
  flex-flow: column nowrap;
  font-size: 90%;
  justify-content: space-between;
  margin-left: 4px;
  margin-right: 4px;
  min-width: 120px;
}
#ShipView .ship-details .ship-item .ship-stat .ship-hp {
  flex: 1;
  align-self: flex-start;
}
#ShipView .ship-details .ship-item .ship-stat .status-label {
  display: inline-block;
  z-index: 100;
  position: relative;
  margin-left: 5px;
  margin-top: -1px;
  text-align: center;
  vertical-align: middle;
  width: 18px;
}
#ShipView .ship-details .ship-item .ship-stat .status-label .label {
  width: 18px;
  padding: 3px 3px;
  display: inline-block;
}
#ShipView .ship-details .ship-item .ship-stat .ship-cond {
  width: 40px;
  align-self: flex-end;
  margin-left: auto;
  display: table;
  text-align: right;
}
#ShipView .ship-details .ship-item .ship-stat .ship-cond .cond-indicator {
  display: inline-block;
  height: 30px;
  width: 4px;
  vertical-align: middle;
  margin-left: 4px;
}
#ShipView .hp-progress {
  /*border-radius: 0px;*/
  background-color: inherit;
  vertical-align: bottom;
}
#ShipView .hp-progress .progress .progress-bar {
  font-size: 11px;
  line-height: 0.9;
  /*color: #666;*/
}
#ShipView .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
  height: 7px;
}
#ShipView .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}

#ShipView .ship-details .ship-item .ship-fb {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 5px 5px 0 5px;
}
#ShipView .material-progress {
  vertical-align: top;
}
#ShipView .material-progress .progress {
  margin-bottom: 1px;
  height: 6px;
  position: relative;
  height: 7px;
}
#ShipView .material-progress .progress .progress-bar {
  font-size: 9px;
  line-height: 1.1;
  /*color: #666;*/
}
#ShipView .material-progress .progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#ShipView .material-progress .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
}

#ShipView .ship-details .ship-item .ship-slot{
  width: 130px;
  flex: none;
  margin: 5px 5px 5px 5px;
}
#ShipView .slotitem-container {
  position: relative;
  vertical-align: bottom;
  display: inline;
}
#ShipView .slotitem-container .slotitem-onslot {
  position: absolute;
  font-size: 12px;
  text-align: center;
  left: -3px;
  bottom: -3px;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  padding-left: 2px;
  padding-right: 2px;
}
#ShipView .slotitem-container span.show {
  display: inline !important;
}
#ShipView .slotitem-container img.png {
  width: 32px;
  height: 32px;
  margin-top: -5px;
  margin-bottom: -3px;
  margin-left: -5px;
}
#ShipView .slotitem-container img.svg {
  width: 26px;
  height: 23px;
  margin-right: 2px;
}
#ShipView .alert {
  background-color: transparent;
  border-color: transparent;
  margin-top: 9px;
  text-align: center;
}
