.ship-view {
  font-size: 15px;
}

.ship-view .ship-tab-container {
  height: calc(100% - 32px);
}

.ship-view .ship-tab-content {
  display: -webkit-box;
  flex-flow: row;
  height: 100%;
  position: relative;
}

.ship-view .ship-tab-content-transition {
  transition: all 0.3s cubic-bezier(1, 0, 0, 1);
}

.ship-view .ship-tabpane,
.ship-view .ship-deck {
  height: 100%;
  width: 100%;
}

.ship-view > .ship-wrapper {
  height: calc(100% - 10px);
  margin: 2px;
  overflow: auto;
}

.ship-view .ship-card {
  height: 100%;
  padding: 2px;
}

.ship-view .bp3-button-group {
  display: flex;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  width: 100%;
}

.ship-view .plane-button {
  width: 40px;
}

.ship-view .airbase-area {
  padding-left: 8px;
  text-align: left !important;
}

.ship-view .bp3-button-group button {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-width: 0 0 1px;
  flex: 1;
  overflow: hidden;
}

.ship-view .hidden {
  display: none;
}

.ship-view .show {
  display: block;
}

.ship-view .div-col {
  display: flex;
  flex-flow: column;
}

.ship-view .div-row {
  display: flex;
  flex-flow: row;
}

.ship-view .fleet-name-button-container {
  overflow: scroll;
}

.ship-view .deck-status {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.ship-view .ship-details {
  height: calc(100% - 31px);
  overflow: scroll;
}

.ship-view .ship-lbac .ship-details {
  height: 100%;
}

.ship-view .fleet-stat,
.ship-view .airbase-area {
  background-color: transparent;
  border-color: transparent;
  margin-top: 5px;
  text-align: center;
  width: 100%;
}
