#ShipView .btn-group {
  display: flex;
  width: 100%;
}
#ShipView .btn-group .btn {
  flex: 1;
}
#ShipView .hidden {
  display: none;
}
#ShipView .show {
  display: block;
}
#ShipView table td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#ShipView table tr:nth-child(odd) td {
  font-size: 90%;
}
#ShipView table tr:nth-child(even) td {
  font-size: 120%;
}
#ShipView table tr td {
  padding-bottom: 0px;
}
#ShipView .slotitem-container img {
  width: 50px;
  height: 50px;
  margin-left: -14px;
  margin-top: -14px;
}
#ShipView .hp-progress .progress {
  height: 22px;
}
#ShipView .hp-progress .progress .progress-bar {
  font-size: 13px;
  line-height: 22px;
}
#ShipView .hp-progress .progress {
  position: relative;
}
#ShipView .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
  color: #464545;
}
#ShipView .material-progress .progress {
  margin-bottom: 1px;
  height: 12px;
  position: relative;
}
#ShipView .material-progress .progress .progress-bar {
  line-height: 12px;
}
#ShipView .material-progress .progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
  color: #464545;
}
#ShipView .material-progress .col-xs-6 {
  padding-left: 1px;
  padding-right: 1px;
}
