.ship-view .ship-item {
  align-items: flex-end;
  display: flex;
  flex: 1;
  flex-flow: row nowrap;
  overflow: hidden;
  padding-left: 3px;
  padding-top: 7px;
  position: relative;
  white-space: nowrap;
}

.ship-view .ship-avatar-container {
  position: absolute;
  top: 9px;
  z-index: 10;
  pointer-events: none;
}

.ship-view .ship-item .progress {
  height: 7px;
  margin-bottom: 5px;
}

.ship-view .ship-info {
  display: flex;
  flex-basis: 0;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin-right: auto;
  min-width: 0;
  padding: 0 4px;
}

.ship-view .ship-info-show {
  flex-grow: 1.2;
  flex-shrink: 0;
}

.ship-view .ship-info-hidden {
  flex-grow: 0;
  flex-shrink: 0;
  height: 58px;
}

.ship-view .ship-avatar-padding {
  flex-basis: 100px;
  padding-left: 95px;
}

.ship-view .ship-basic {
  flex: 1;
  font-size: 80%;
  opacity: 0.8;
  padding-top: 0;
  vertical-align: bottom;
}

.ship-view .ship-info-hidden .ship-basic {
  padding-left: 5px;
}

.ship-view .ship-exp {
  flex: 1;
  font-size: 75%;
  opacity: 0.8;
  overflow: hidden;
  padding-top: 0;
  text-overflow: ellipsis;
  vertical-align: bottom;
}

.ship-view .ship-type,
.ship-view .ship-speed,
.ship-view .ship-aaci,
.ship-view .ship-aapb,
.ship-view .ship-oasw {
  margin-left: 5px;
  margin-right: 5px;
}

.ship-view .ship-name {
  flex: 1;
  font-size: 120%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ship-view .ship-stat {
  display: flex;
  flex-basis: 0;
  flex-flow: column nowrap;
  flex-grow: 2;
  font-size: 90%;
  justify-content: space-between;
  margin-left: auto;
  min-width: 120px;
}

.ship-view .landbase-stat {
  flex-basis: 90px;
  flex-grow: 0.8;
  min-width: 90px;
  padding-right: 5px;
}

.ship-view .ship-hp {
  align-self: flex-start;
  flex: 1;
}

.ship-view .status-label {
  display: inline-block;
  margin-left: 5px;
  margin-top: -1px;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 18px;
  z-index: 100;
}

.ship-view .status-label .label {
  display: inline-block;
  padding: 3px 3px;
  width: 18px;
}

.ship-view .ship-cond {
  align-self: flex-end;
  display: table;
  margin-left: auto;
  text-align: right;
  width: 40px;
}

.ship-view .cond-indicator {
  display: inline-block;
  height: 30px;
  margin-left: 4px;
  vertical-align: middle;
  width: 4px;
}

.ship-view .ship-fb {
  display: flex;
  flex: 0.75;
  flex-direction: column;
  margin: 0 4px;
  height: 22px;
}

.ship-view .ship-fb .ship-fb-item {
  margin-top: 4px;
}

.ship-view .bp3-progress-bar {
  height: 7px;
}

.ship-view .ship-slot {
  flex-basis: 172px;
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
  padding: 5px 5px 5px 5px;
}

.ship-view .ship-skill-indicator {
  position: relative;
  top: -1px;
}

.ship-view .ship-skill-indicator .bp3-tag {
  font-size: 80%;
  padding: 0.125em 0.6em;
}

.aaci-type-name:first-child::before {
  content: ' - ';
}

.aaci-type-name::after {
  content: ' / ';
}

.aaci-type-name:last-child::after {
  content: '';
}
