#ShipView{
  font-size: 14px;
}
#ShipView .btn-group {
  display: flex;
  width: 100%;
}
#ShipView .btn-group .btn {
  flex: 1;
}
#ShipView .hidden {
  display: none;
}
#ShipView .show {
  display: block;
}
#ShipView table #shipDetails{
  margin-bottom: 1px;
}
#ShipView table #shipDetails tr td {
  overflow: hidden;
  white-space: nowrap;
  /*margin-bottom: 1px;*/
  padding:0px 10px;
  border: none;
  vertical-align: middle;
}
#ShipView table #shipDetails td #shipName {
  font-size: 130%;
  padding-top: 12px;
}
#ShipView table #shipDetails td #shipType {
  font-size: 80%;
  padding-top: 0px;
  text-align: right;
}
#ShipView #shipEquipments .slotitem-container img {
  width: 30px;
  height: 30px;
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: -5px;
}
#ShipView .hp-progress {
  /*border-radius: 0px;*/
  background-color: inherit;
  vertical-align: bottom;
}
#ShipView .hp-progress .progress {
  height: 12px;
}
#ShipView .hp-progress .progress .progress-bar {
  font-size: 11px;
  line-height: 0.9;
  /*color: #666;*/
}
#ShipView .hp-progress .progress {
  position: relative;
  margin-bottom: 1px;
}
#ShipView .hp-progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#ShipView .material-progress {
  vertical-align: top;
}
#ShipView .material-progress .progress {
  margin-bottom: 1px;
  height: 12px;
  position: relative;
}
#ShipView .material-progress .progress .progress-bar {
  font-size: 9px;
  line-height: 1.1;
  /*color: #666;*/
}
#ShipView .material-progress .progress .progress-bar span span {
  position: absolute;
  width: 100%;
  display: block;
}
#ShipView .material-progress .col-xs-6 {
  padding-left: 0px;
  padding-right: 0px;
}
#ShipView #shipCond{
  text-align: center;
}
#ShipView .alert {
  /*background-color: #000;*/
  /*border-color: #000;*/
  /*color: #fff;*/
}
