.ShipView .slotitems {
  display: flex;
}

.ShipView .slotitem-container {
  display: inline;
  margin-right: 2px;
  position: relative;
  vertical-align: bottom;
}

.ShipView .slotitem-container::after {
  background-color: rgba(33, 33, 33, 0.7);
  border-radius: 9px;
  bottom: -3px;
  content: attr(data-onslot);
  font-size: 12px;
  height: 18px;
  left: -3px;
  line-height: 18px;
  padding-left: 2px;
  padding-right: 2px;
  position: absolute;
  text-align: center;
  width: 18px;
}

.ShipView .slotitem-onslot-show::after {
  display: inline;
}

.ShipView .slotitem-onslot-hide::after {
  display: none;
}

.ShipView .slotitem-container .png {
  height: 32px;
  margin-bottom: -3px;
  margin-left: -5px;
  margin-top: -5px;
  width: 32px;
}

.ShipView .slotitem-container .svg {
  height: 23px;
  width: 26px;
}
