meta:
  name: "safenodes"
  version: "2017/09/07/01"

data:
  safenodes:
    "1-6": [
      "N"
    ]
    "2-2": [
      "C"
    ]
    "2-3": [
      "J"
    ]
    "2-4": [
      "E"
    ]
    "2-5": [
      "C"
      "F"
      "G"
      "K"
    ]
    "3-1": [
      "B"
    ]
    "3-2": [
      "G"
    ]
    "3-3": [
      "J"
      "K"
    ]
    "3-4": [
      "O"
    ]
    "3-5": [
      "H"
      "I"
      "J"
    ]
    "4-3": [
      "E"
    ]
    "4-4": [
      "D"
      "E"
    ]
    "4-5": [
      "L"
      "K"
    ]
    "5-1": [
      "G"
    ]
    "5-4": [
      "J"
    ]
    "5-5": [
      "L"
    ]
    "6-1": [
      "G"
      "I"
    ]
    "6-2": [
      "C"
      "J"
    ]
    "6-3": [
      "I"
    ]
    "6-5": [
      "K"
      "L"
    ]
