meta:
  name: "shiptag"
  version: "2018/02/25/01"

data:
  mapname: [
    "E1"
    "E2, E4, E6, E7"
    "E2, E4, E7"
    "E3, E7"
    "E5, E6, E7"
  ]
  color: [
    "#9E9E9E"
    "#4CAF50"
    "#FFEB3B"
    "#03A9F4"
    "#673AB7"
  ]
  fleetname:
    "zh-CN": [
      "警戒部队"
      "栗田舰队"
      "西村舰队"
      "小泽舰队"
      "志摩舰队"
    ]
    "zh-TW": [
      "警戒部隊"
      "栗田艦隊"
      "西村艦隊"
      "小澤艦隊"
      "志摩艦隊"
    ]
    "ja-JP": [
      "警戒部隊"
      "栗田艦隊"
      "西村艦隊"
      "小沢艦隊"
      "志摩艦隊"
    ]
    "en-US": [
      "Patrol Force"
      "Kurita Fleet"
      "Nishimura Fleet"
      "Kozawa Fleet"
      "Shima Fleet"
    ]
