meta:
  name: "shiptag"
  version: "2021/09/05/02"

# color: https://material.io/design/color/the-color-system.html#color-usage-and-palettes

data:
  mapname: [
    "第一特務艦隊"
    "地中海艦隊"
    "第二特務艦隊"
    "Force H"
    "Force Z"
    "第１０潜水艦隊"
    "Force X"
    "？？？（8）"
    "？？？（9）"
    "？？？（10）"
  ]
  color: [
    "#EF6C00"
    "#BDBDBD"
    "#03A9F4"
    "#8BC34A"
    "#B39DDB"
    "#01579B"
    "#FFFF00"
    "#FFFFFF"
    "#FFFFFF"
    "#FFFFFF"
  ]
  fleetname:
    "zh-CN": [
      "第一特务舰队"
      "地中海舰队"
      "第二特务舰队"
      "Force H"
      "Force Z"
      "第 10 潜水舰队"
      "Force X"
      "？？？（8）"
      "？？？（9）"
      "？？？（10）"
    ]
    "zh-TW": [
      "第一特務艦隊"
      "地中海艦隊"
      "第二特務艦隊"
      "Force H"
      "Force Z"
      "第 10 潛水艦隊"
      "Force X"
      "？？？（8）"
      "？？？（9）"
      "？？？（10）"
    ]
    "ja-JP": [
      "第一特務艦隊"
      "地中海艦隊"
      "第二特務艦隊"
      "Force H"
      "Force Z"
      "第１０潜水艦隊"
      "Force X"
      "？？？（8）"
      "？？？（9）"
      "？？？（10）"
    ]
    "en-US": [
      "1st Special Squadron"
      "Mediterranean Fleet"
      "2nd Special Squadron"
      "Force H"
      "Force Z"
      "The 10th Submarine Squadron"
      "Force X"
      "???(8)"
      "???(9)"
      "???(10)"
    ]
