

# color: https://material.io/design/color/the-color-system.html#color-usage-and-palettes

mapname: [
  "第二艦隊"
  "南沙哨戒部隊"
  "輸送護衛部隊"
  "第一水雷戦隊"
  "第五艦隊主力"
  "第一艦隊"
  "欧州遠征先遣隊"
  "イギリス連絡部隊"
  "英海軍主力部隊"
  "英D-Day上陸部隊"
  "米D-Day上陸部隊"
]
color: [
  "#78716c"
  "#10b981"
  "#f59e0b"
  "#71717a"
  "#06b6d4"
  "#6366f1"
  "#99cc00"
  "#ff9900"
  "#808000"
  "#008000"
  "#ff00ff"
]
fleetname:
  "zh-CN": [
    "第二舰队"
    "南沙巡逻部队"
    "运输护卫部队"
    "第一水雷战队"
    "第五舰队主力"
    "第一舰队"
    "欧州远征先遣队"
    "英国联络部队"
    "英海军主力部隊"
    "英D-Day上陆部队"
    "美D-Day上陆部队"
  ]
  "zh-TW": [
    "第二艦隊"
    "南沙巡邏部隊"
    "運輸護衛部隊"
    "第一水雷戰隊"
    "第五艦隊主力"
    "第一艦隊"
    "欧州遠征先遣隊"
    "イギリス連絡部隊"
    "英海軍主力部隊"
    "英D-Day上陸部隊"
    "美D-Day上陸部隊"
  ]
  "ja-JP": [
    "第二艦隊"
    "南沙哨戒部隊"
    "輸送護衛部隊"
    "第一水雷戦隊"
    "第五艦隊主力"
    "第一艦隊"
    "欧州遠征先遣隊"
    "イギリス連絡部隊"
    "英海軍主力部隊"
    "英D-Day上陸部隊"
    "米D-Day上陸部隊"
  ]
  "en-US": [
    "2nd Fleet"
    "Nansha Patrol Fleet"
    "Transport Escort Fleet"
    "1st Torpedo Squadron"
    "5th Fleet Main Force"
    "1st Fleet"
    "European Expedition Advance Force"
    "British Liaison Force"
    "British Fleet Main Force"
    "British D-Day Landing Force"
    "American D-Day Landing Force"
  ]
