#poi-app-container {
  overflow: hidden;
}
kan-game webview {
  height: 100%;
}
kan-game .kan-game-warpper {
  overflow: hidden;
}
poi-info {
  transform-origin: 0 0;
}
poi-app {
  position: relative;
}
poi-app .container {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  overflow-x: hidden;
}
#top-nav {
  display: inherit;
}
#top-nav > li {
  width:26%;
}
#top-nav > li.dropdown, #top-nav > li.tab-narrow{
  width:11%;
}
poi-app poi-nav-tabs .nav {
  display: flex;
}
poi-app poi-nav-tabs .nav li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
poi-app poi-nav-tabs .nav  li a {
  text-align: center;
}
poi-app poi-nav-tabs .nav .dropdown-menu {
  min-width: 100%;
  overflow: auto;
}
poi-app poi-nav-tabs .nav .dropdown {
  overflow: inherit;
}
poi-nav .grid-menu ul[aria-labelledby=plugin-dropdown] li {
  display: block;
  float: left;
  width: calc(100% / 3);
}
poi-nav .grid-menu ul[aria-labelledby=plugin-dropdown] li a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  width: 100%;
  height: 5em;
  padding-top: 1em;
}
poi-nav .grid-menu ul[aria-labelledby=plugin-dropdown] li .fa {
  display: block;
  font-size: 175%;
}
poi-info {
  display: flex;
  align-items: stretch;
}
.poi-tabs-container {
  display: flex;
}
.poi-tabs-container > div {
  flex: 1;
}
.poi-tab-contents {
  display: -webkit-box;
  position: relative;
}
.poi-tab-child-sizer {
  left: 0;
  top: 0;
  width: 100%;
  margin-right: -100%;
  padding: 0;
  overflow: hidden;
}
.poi-tab-child-positioner {
  position: relative;
  width: 100%;
  opacity: 1;
}
.poi-tab-child-positioner-transition {
  transition: .35s ease-in-out;
}
.poi-app-tabpane {
  width: 100%;
  overflow-y: scroll;
}
.poi-plugin {
  left: 100%;
}
#electron-app-title-bar {
  background-color: transparent !important;
  box-sizing: content-box !important;
}
#electron-app-title-bar * {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Microsoft Yahei UI Light", "Microsoft YaHei Light", "Microsoft YaHei", Arial, sans-serif;
}
#electron-app-title-bar .toolbar-dropdown:not(.open) .menu-item .menu-label {
  opacity: 0.9 !important;
}
