.poi {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

title-bar {
  flex: 0 0 29px;
}

poi-main {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  background-color: inherit;
}

.webview-resizable-area {
  display: flex;
  align-items: center;
}

.webview-wrapper {
  flex: 1 1 0;
  margin-left: auto;
  margin-right: auto;
  max-height: max-content;
  width: 100%;
  position: relative;
}

.bp4-popover-content,
.bp4-dialog {
  backdrop-filter: blur(5px);
}

.bp4-tooltip .bp4-popover-content {
  max-width: calc(50vw - 20px);
  overflow: hidden;
}

.plugin-dropdown-container,
.plugin-dropdown-container .bp4-popover-content {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.plugin-dropdown-container > .bp4-popover-content > .bp4-menu {
  background: transparent;
}

.bp4-html-select select,
.bp4-select select {
  background-image: none;
}

#electron-app-title-bar {
  background-color: transparent !important;
  box-sizing: content-box !important;
  border-bottom: 1px solid #00000050 !important;
}

#electron-app-title-bar #foldout-container {
  z-index: 1000 !important;
}

#electron-app-title-bar * {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", "Microsoft Yahei UI Light", "Microsoft YaHei Light", "Microsoft YaHei", Arial, sans-serif;
}

#electron-app-title-bar .button-component {
  box-sizing: border-box;
}

#electron-app-title-bar .toolbar-dropdown:not(.open) .menu-item .menu-label {
  opacity: 0.9 !important;
}

#electron-app-title-bar img.icon {
  margin: 6px 10px !important;
}

body:not(.bp4-dark) #electron-app-title-bar .window-controls button:not(:hover),
body:not(.bp4-dark) #electron-app-title-bar #app-menu-bar .toolbar-dropdown:not(.open) > .toolbar-button > button:not(:hover) {
  color: #24292e;
}

.resizable-component.width-resize > .resize-handle-right {
  background: linear-gradient(90deg, transparent 40%, #666 60%, transparent 51%);
  z-index: 10;
}

.resizable-component.height-resize > .resize-handle-bottom {
  background: linear-gradient(0deg, transparent 40%, #666 60%, transparent 51%);
  z-index: 10;
}

img {
  /* stylelint-disable-next-line value-no-vendor-prefix */
  image-rendering: -webkit-optimize-contrast;
}

.map-reminder-popover.pinned [class*='transition-container'] {
  pointer-events: none;
  z-index: 18;
}
