*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "Heiti SC", "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
}
::-webkit-scrollbar {
  width: 0px;
}
body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
}
.alert {
  border-radius: 0px;
  font-size: 12px;
  margin-bottom: 1px;
  padding: 3px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
kan-game poi-info .alert {
  opacity: 0.7;
  padding: 6px 3px 5px 3px;
  margin-bottom: 0px;
  height: 100%;
}
span, img, .panel-heading, .table tbody tr td {
  -webkit-user-select: none !important;
  cursor: default !important;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
poi-app .container {
  padding-left: 0px;
  padding-right: 0px;
  width: auto;
  overflow-x: hidden;
}
table {
  table-layout: fixed;
}
poi-app poi-nav-tabs nav ul {
  display: flex;
}
poi-app poi-nav-tabs nav ul li {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
poi-app poi-nav-tabs nav ul li a {
  text-align: center;
}
poi-app poi-nav-tabs nav ul.dropdown-menu {
  min-width: 100%;
}
poi-app poi-nav-tabs nav li.dropdown {
  overflow: inherit;
}
poi-info {
  display: flex;
  align-items: stretch;
}
poi-alert {
  flex: 1;
}
poi-control {
  height: 100%;
}
poi-control .btn-sm {
  height: 100%;
  border-radius: 0px;
  border-width: 2px;
  padding: 2px 7px;
  font-size: 15px;
}
poi-control button .fa {
  cursor: pointer !important;
  width: 20px;
}
.table tbody tr td {
  padding: 8px;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none !important;
}
.poi-tabs-container {
  display: flex;
}
.poi-tabs-container > div {
  flex: 1;
}
