* {
  font-family: "Ubuntu", "WenQuanYi Micro Hei", "Microsoft YaHei" !important;
}
::-webkit-scrollbar {
  width: 0px;
}
body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
}
poi-app .container {
  width: auto;
}
.alert {
  border-radius: 0px;
  font-size: 12px;
  margin-bottom: 1px;
  padding: 3px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
span, img, .panel-heading, .table tbody tr td {
  -webkit-user-select: none !important;
  cursor: default !important;
}
hr {
  margin-top: 5px;
  margin-bottom: 5px;
}
poi-app .container {
  padding-left: 0px;
  padding-right: 0px;
}
table {
  table-layout: fixed;
}
poi-app poi-nav-tabs nav ul {
  display: flex;
}
poi-app poi-nav-tabs nav ul li {
  flex: 1;
}
poi-app poi-nav-tabs nav ul li a {
  text-align: center;
}
.table tbody tr td {
  padding: 8px;
}
.btn:focus {
  outline: none;
}
.btn:active {
  outline: none;
}
.btn:hover {
  outline: none;
}
