.poi {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.poi-app-container {
  overflow: hidden;
}

title-bar {
  flex: 0 0 29px;
}

poi-main {
  align-items: center;
  display: flex;
  flex: 1 0 0;
  background-color: inherit;
}

.webview-resizable-area {
  display: flex;
  align-items: center;
}

kan-game webview {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

kan-game {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.webview-wrapper {
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: auto;
  margin-right: auto;
  max-height: max-content;
  width: 100%;
}

poi-info {
  flex-grow: 0;
  flex-shrink: 0;
  transform-origin: 0 0;
  align-items: stretch;
  display: flex;
}

poi-app {
  flex-shrink: 0;
  position: relative;
}

poi-app .container {
  overflow-x: hidden;
  padding-left: 0;
  padding-right: 0;
  width: auto;
}

poi-app poi-nav,
poi-app poi-nav-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

poi-app poi-nav-tabs .top-nav {
  width: calc(100% + 20px);
}

poi-app poi-nav-tabs .nav-tab {
  text-align: center;
}

poi-app poi-nav-tabs .nav-tab-3 {
  width: calc(33% - 20px);
}

poi-app poi-nav-tabs .nav-tab-4 {
  width: calc(25% - 20px);
}

poi-app poi-nav-tabs .nav-tab-8 {
  width: calc(12.5% - 20px);
}

poi-app poi-nav-tabs .poi-tabs-container-doubletabbed-vertical {
  flex-direction: column;
}

poi-app poi-nav-tabs .poi-tabs-container-doubletabbed .nav,
poi-app poi-nav-tabs .poi-tab-contents .nav {
  display: flex;
}

.plugin-dropdown {
  overflow: auto;
}

.plugin-dropdown div {
  display: block;
  float: left;
  width: calc(100% / 3);
}

.plugin-dropdown div a {
  display: flex;
  min-height: 5em;
  overflow: hidden;
  padding-top: 1em;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  flex-direction: column;
  align-items: center;
  color: white;
}

.plugin-pulldown-trigger {
  width: 100%;
}

.plugin-dropdown div a:hover {
  background-color: #46a2dd !important;
  text-decoration: none;
  color: white;
}

.plugin-dropdown div [class*="fa-"].svg-inline--fa {
  display: block;
  font-size: 175%;
}

.poi-tabs-container {
  display: flex;
  height: 100%;
}

.poi-tab-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
}

.poi-tab-container > .nav-tabs {
  flex: 0 0 40px;
}

.poi-tab-contents {
  display: -webkit-box;
  flex: 1 0 0;
  overflow: scroll;
  position: relative;
}

.poi-tab-child-sizer {
  display: flex;
  flex-direction: column;
  height: 100%;
  left: 0;
  margin-right: -100%;
  overflow: hidden;
  padding: 0;
  top: 0;
  width: 100%;
}

.poi-tab-child-positioner {
  display: flex;
  flex: 1;
  flex-direction: column;
  opacity: 1;
  position: relative;
  width: 100%;
}

.poi-tab-child-positioner-transition {
  transition: 0.35s ease-in-out;
}

.poi-app-tabpane {
  flex: 1;
  height: 100%;
  overflow-y: scroll;
  width: 100%;
}

.poi-plugin {
  left: 100%;
}

#electron-app-title-bar {
  background-color: transparent !important;
  box-sizing: content-box !important;
}

#electron-app-title-bar * {
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Microsoft Yahei UI Light", "Microsoft YaHei Light", "Microsoft YaHei", Arial, sans-serif;
}

#electron-app-title-bar .button-component {
  box-sizing: border-box;
}

#electron-app-title-bar .toolbar-dropdown:not(.open) .menu-item .menu-label {
  opacity: 0.9 !important;
}

#electron-app-title-bar img.icon {
  margin: 6px 10px !important;
}

.resizable-component.width-resize > .resize-handle-right {
  background: linear-gradient(90deg, transparent 40%, #666 60%, transparent 51%);
  z-index: 10;
}

.resizable-component.height-resize > .resize-handle-bottom {
  background: linear-gradient(0deg, transparent 40%, #666 60%, transparent 51%);
  z-index: 10;
}

.poi-app-overlay {
  position: fixed;
  right: 0;
  transition: transform 0.2s ease-in;
  will-change: transform;
}

.overlay-panel-resizer {
  position: fixed !important;
  left: 0;
  bottom: 30px;
  pointer-events: none;
}

.overlay-panel-resizer.width-resize div {
  pointer-events: all;
  opacity: 0;
}

a.overlay-panel-trigger {
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  position: fixed;
  background: rgba(75, 75, 75, 0.8);
  height: 5vh;
  display: flex;
  align-items: center;
  width: 40px;
  min-height: 30px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  font-size: 15px;
  bottom: 0;
  border-top-left-radius: 5px;
}

a.overlay-panel-trigger > svg {
  margin: auto;
}

