:root {
  --bp-surface-background-color-default-rest: rgb(255 255 255 / 0.6);
  --bp-surface-background-color-default-hover: rgb(246 247 249 / 0.6);
  --bp-surface-background-color-default-active: rgb(237 239 242 / 0.6);
  --bp-surface-background-color-default-disabled: rgb(255 255 255 / 0.6);
}

.bp6-dark {
  --bp-surface-background-color-default-rest: rgb(17 20 24 / 0.6);
  --bp-surface-background-color-default-hover: rgb(28 33 39 / 0.6);
  --bp-surface-background-color-default-active: rgb(37 42 49 / 0.6);
  --bp-surface-background-color-default-disabled: rgb(17 20 24 / 0.6);
}

.bp6-button:not([class*="bp6-intent-"], [class*="bp6-minimal"]) {
  background-color: oklch(from var(--bp-surface-background-color-default-rest) l c h / calc(alpha - 0.35)) !important;
}

.bp6-button:not([class*="bp6-intent-"], [class*="bp6-minimal"]):hover {
  background-color: oklch(from var(--bp-surface-background-color-default-hover) l c h / calc(alpha - 0.25)) !important;
}

.bp6-button:not([class*="bp6-intent-"], [class*="bp6-minimal"]):active {
  background-color: oklch(from var(--bp-surface-background-color-default-active) l c h / calc(alpha - 0.15)) !important;
}

.bp6-input {
  background-color: oklch(from var(--bp-surface-background-color-default-rest) l c h / calc(alpha - 0.35)) !important;
}

.bp6-card,
.bp6-html-select select,
.bp6-select select {
  background-color: oklch(from var(--bp-surface-background-color-default-rest) l c h / calc(alpha - 0.35)) !important;
}

.bp6-dialog-header {
  background-color: oklch(from var(--bp-surface-background-color-default-rest) l c h / calc(alpha - 0.55)) !important;
}

.bp6-dialog {
  background-color: var(--bp-surface-background-color-default-rest) !important;
}

.bp6-popover:not(.bp6-dark, .bp6-tooltip) .bp6-popover-content {
  background-color: oklch(from #fff l c h / calc(alpha - 0.15));
}

.bp6-popover.bp6-dark:not(.bp6-tooltip) .bp6-popover-content,
.bp6-dark .bp6-popover:not(.bp6-tooltip) .bp6-popover-content {
  background-color: oklch(from #2f343c l c h / calc(alpha - 0.15));
}
