/* csslint ignore:start */
*, body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", "WenQuanYi Micro Hei", "Microsoft YaHei", "Droid Sans Fallback", sans-serif;
}
/* csslint ignore:end */
::-webkit-scrollbar {
  height: 0;
  width: 0;
}
hr {
  display: none;
}
body {
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.42857143;
  overflow: hidden;
  -webkit-user-drag: none;
  user-select: none;
}
table {
  table-layout: fixed;
}
span, img, a, .panel-heading, .table tbody tr td {
  cursor: default;
  -webkit-user-drag: none;
  user-select: none;
}
input + span {
  cursor: inherit;
}
button > span {
  cursor: inherit;
}
a, button {
  cursor: pointer;
}
hr {
  margin-bottom: 5px;
  margin-top: 5px;
}
.table tbody tr td {
  padding: 8px;
}
.div-col {
  display: flex;
  flex-flow: column;
}
.poi-ship-cond-0 {  /* cond 0~19  */
  color: #DD514C;
  font-weight: bold;
}
.poi-ship-cond-20 { /* cond 20~29 */
  color: #F37B1D;
}
.poi-ship-cond-30 { /* cond 30~39 */
  color: #FFC880;
}
.poi-ship-cond-40 { /* cond 40~48 */
  color: inherit;
}
.poi-ship-cond-49 { /* cond 49 */
  color: inherit;
}
.poi-ship-cond-50 { /* cond 50~52 */
  color: #FFEE00
}
.poi-ship-cond-53 { /* cond 53~100 */
  color: #FFFF40;
  font-weight: bold;
}
.undecided-checkbox-inside label {
  cursor: help;
}
.undecided-checkbox-inside label input[type="checkbox"] {
  cursor: help;
}
.undecided-checkbox-inside input[type="checkbox"]:not(:checked):after {
  content: "?";
  text-align: center;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -moz-appearance: none;
  -webkit-appearance: none;
}
.no-scroll {
  overflow: hidden;
}
.no-transition {
  transition: 0s;
}
.transparent {
  opacity: 0;
}
.info-tooltip .tooltip-inner .recon-title {
  font-size: 110%;
  font-weight: bold;
  text-align: left;
}
.info-tooltip .tooltip-inner .recon-title:not(:first-child) {
  margin-top: 0.5em;
}
.info-tooltip .tooltip-inner .info-tooltip-entry {
  display:flex;
  min-width: 100px;
  text-align: left;
}
.info-tooltip .tooltip-inner .info-tooltip-item {
  flex-grow: 1;
  margin-right: 2em;
}
.info-tooltip .tooltip-inner {
  max-width: initial;
  width: fit-content;
}
/*progress bar*/
.progress-bar-red {
  background-color: #D50000;
}
.progress-bar-orange {
  background-color: #F57C00;
}
.progress-bar-yellow {
  background-color: #FBC02D;
}
.progress-bar-green {
  background-color: #4CAF50;
}
div[role='tooltip'],
.poi-app-container {
  transform-origin: 0 0;
}
.material-icon {
  height: 18px;
  width: 18px;
}
/* csslint ignore:start */
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none !important;
}
/* csslint ignore:end */
