poi-main {
  display: flex;
  flex-flow: row nowrap;
}
kan-game {
  flex: 5 0px;
}
poi-app {
  flex: 2 0px;
}
hr {
  display: none;
}
.material-icon {
  margin-right: 5px;
  width: 30px;
  height: 30px;
}
