poi-alert {
  width: 0;
  height: 30px;
  flex: 1;
}
poi-info .alert {
  opacity: 0.7;
  padding: 6px 3px 5px 3px;
  margin-bottom: 0px;
  height: 100%;
}
.alert {
  border-radius: 0px;
  font-size: 12px;
  margin-bottom: 1px;
  padding: 3px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.alert-main {
  pointer-events: none;
  position: relative;
  transition: 0.3s;
  height: 29px;
}
.alert-container {
  z-index: 2;
  position: relative;
  overflow: hidden;
  pointer-events: auto;
  cursor: pointer;
  transition: 0.3s;
  height: 30px;
}
#alert-area {
  cursor: pointer;
}
.alert-history {
  z-index: 1;
  position: relative;
  margin-bottom: 0;
  padding-bottom: 0;
  transition: 0.3s;
  overflow: hidden;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.alert-history-contents {
  overflow: scroll;
  text-overflow: initial;
}
.alert-position {
  margin-left: auto;
  margin-right: auto;
}
.overflow-anim {
  display: block;
  animation-name: overflowscroll;
  animation-duration: 18s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-left: 0%;
}
@keyframes overflowscroll {
  0% { transform:translate3d(0, 0, 0); }
  100% { transform:translate3d(-100%, 0, 0); }
}
