poi-alert {
  flex: 1;
  height: 30px;
  width: 0;
}

poi-info .alert {
  margin-bottom: 0;
  min-height: 100%;
  opacity: 0.7;
  padding: 6px 3px 5px 3px;
}

.alert-main {
  height: 29px;
  pointer-events: none;
  position: relative;
  transition: 0.3s;
  width: 100%;
}

.alert-container {
  cursor: pointer;
  height: 30px;
  overflow: hidden;
  pointer-events: auto;
  position: relative;
  transition: 0.3s;
  z-index: 2;
}

.alert-history {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  transition: 0.3s;
  z-index: 1;
}

.alert-history-contents {
  overflow: scroll;
  text-overflow: initial;
}

.alert-position {
  margin-left: auto;
  margin-right: auto;
}

.overflow-anim {
  animation-delay: 2s;
  animation-duration: 18s;
  animation-iteration-count: 2;
  animation-name: overflowscroll;
  animation-timing-function: linear;
  display: block;
  margin-left: 0;
}

@keyframes overflowscroll {
  0% {
    transform: translate3d(0, 0, 0);
  }

  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

#alert-area {
  cursor: pointer;
}
