poi-control {
  height: 100%;
}

poi-control .btn-sm {
  border-radius: 0;
  border-width: 2px;
  font-size: 15px;
  min-height: 30px;
  padding: 2px 7px;
}

poi-control button [class*="fa-"].svg-inline--fa {
  cursor: pointer;
  width: 20px;
}

poi-control .poi-control-container {
  display: flex;
  flex-direction: row;
}

poi-control .poi-control-extender {
  display: block;
  overflow: hidden;
  transition: 0.3s;
  white-space: nowrap;
}

poi-control .collapse {
  width: 0;
}

poi-control .in {
  width: auto;
}

poi-control .collapsing {
  width: auto;
}
