poi-control {
  height: 100%;
}

poi-control .poi-control-container {
  display: flex;
  flex-direction: row;
}

poi-control .poi-control-inner {
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
}
